* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: aliceblue; */
}

body {
  background-color: black;
}

#full-page {
  width: 100%;
  min-height: 100vh;
  /* padding: 100px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: azure; */
  flex-direction: column;
}

.container {
  width: 500px;
  min-height: 600px;
  background-color: rgb(140, 0, 183);
  margin: 50px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-input-section {
  width: 90%;
  height: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.content-input-section label {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  width: 70%;
  height: 50px;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
  outline: none;
}

#add-btn {
  border: none;
  border-radius: 0 10px 10px 0;
  width: 30%;
  height: 100%;
  background-color: antiquewhite;
  font-size: 1rem;
  font-weight: 700;
}

#add-btn:hover {
  background-color: aquamarine;
  transition: 500ms;
}

.input-box {
  display: flex;
  width: 100%;
}

.content-todo-list-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

ul li {
  min-width: 430px;
  min-height: 45px;
  background-color: antiquewhite;
  color: black;
  list-style: none;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  /* flex-wrap: wrap; */
  margin-bottom: 10px;
  cursor: pointer;
}

.li-btn {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-btn img {
  width: 30px;
  margin-right: 5px;
}

.li-btn img:hover {
  background-color: rgb(255, 202, 179);
  border-radius: 5px;
  padding: 2px;
}

.active {
    text-decoration: line-through;
}
