*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(122, 122, 122);
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.color-buttons{
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.colorButton{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.colorButton h1{
    text-transform: capitalize;
}

