*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 100vh;
}

.color-container{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    background-color: rgb(132, 132, 132);
}

.color-buttons{
    display: flex;
    gap: 1rem;
    margin-bottom: 50px;
}

.color-btn{
    width: 7rem;
    height: 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.color-btn:nth-child(1) { background-color: red; }
.color-btn:nth-child(2) { background-color: green; }
.color-btn:nth-child(3) { background-color: olive; }
.color-btn:nth-child(4) { background-color: white; }
.color-btn:nth-child(5) { background-color: crimson; }
.color-btn:nth-child(6) { background-color: yellow; }
.color-btn:nth-child(7) { background-color: black; color: white;}
.color-btn:nth-child(8) { background-color: blue; }
.color-btn:nth-child(9) { background-color: purple; }
.color-btn:nth-child(10) { background-color: brown; }
/* Repeat for other buttons */

.color-btn:hover{
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
    color: white;
}

.color-btn:nth-child(4):hover { color: rgb(0, 0, 0); border: 1px solid black; }

.color-btn:nth-child(6):hover { color: rgb(0, 0, 0); }

/* for other buttons */
.active{
    color: white;
    border: 2px solid black;
}

/* For yellow and white buttons */
.black-active{
    color: black; /* black color when active */
    border: 2px solid black;
}